<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css"> <!-- Agrega tu archivo CSS personalizado -->
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    {{> navbar}}

    <div class="container mt-4">
        <h1>Checkout</h1>
        <form id="checkout-form">
            {{#each cart}}
            <input type="hidden" name="items[]" value="{{this.id}}">
            {{/each}}
            <div class="form-group">
                <label for="address">Dirección de envío:</label>
                <input type="text" class="form-control" id="address" name="address" required>
            </div>
            <div class="form-group">
                <label for="payment">Método de pago:</label>
                <select class="form-control" id="payment" name="payment" required>
                    <option value="stripe">Tarjeta de crédito (Stripe)</option>
                    <option value="paypal">PayPal</option>
                </select>
            </div>
            <button id="checkout-button" class="btn btn-primary">Realizar pedido</button>
        </form>
    </div>

    <script>
        const stripePublicKey = '{{pk_test_51OFzUzIui13gsswyoPefDA99KWJFoBW0zft04I5L2WtFrLwy0YlOll72AXQCUp5VUyPupyC4AWDgcjKTHEYKvZ9L001HpdTQUo}}';
        const stripe = Stripe(stripePublicKey);

        const checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', async (event) => {
            event.preventDefault();

            const { error } = await stripe.redirectToCheckout({
                lineItems: [
                    { price: 'price_1JKgqzIui13gsswyzk3IIfUe', quantity: 1 },
                ],
                mode: 'payment',
                successUrl: `${window.location.origin}/confirmation`,
                cancelUrl: `${window.location.origin}/real`,
            });

            if (error) {
                console.error(error);
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
